@import url('./variables.css');
@import url('./keyframes.css');

.semester{
    font-size: 1.5em;
    font-family: sans-serif;
    text-align: center;
    
}
.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    width:80%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
    background-color: #9baff3;
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #ebebeb;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #023bf8;
}
.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.component-td {
    width: 8rem;
    /* display: none; */
}

.unit-td {
    width: 5rem;
}


.syllabus-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--grey-200);
    background-color: var(--grey-700);
    padding: .4rem;
    cursor: pointer;
}

.syllabus-course-plan {
    overflow-y: scroll;
    padding: 1rem;
}

.syllabus-details-tab {
    width: 90%;
    margin: auto;

    box-shadow: 2px 2px 30px 1px var(--grey-300);
}

.syllabus-course-objective {
    padding: .5rem;
    border-bottom: 1px solid var(--grey-500);
}

.syllabus-course-outcomes {
    padding: .5rem;
    border-bottom: 1px solid var(--grey-500);
}

.syllabus-course-plan-table {
    padding: .5rem;
}